:root {
  --iriscolor: #4d5ae5;
  --grey: #2e2f42;
  --navybluecolor: #2e2f42;
  --oceancolor: #404bbf;
  --whitecolor: white;
  --slatecolor: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --lightslate: #8e8f99;
  --green: #31d0aa;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slate);
  background-color: var(--whitecolor);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
  /*.backdrop: 0;*/
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.section {
  padding: 94px 0;
}

.section.no-top-padding {
  padding-top: 0;
  display: none;
}

.logo-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 428px;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1158px) {
    width: 1158px;
  }
}

.logo {
  color: var(--iriscolor);
}

.studio {
  color: var(--grey);
}

.contacts-menu {
  margin-left: auto;
}

.nav-menu .item:not(:last-child),
.contacts-menu .item:not(:last-child) {
  margin-right: 70px;
}

.nav-menu {
  margin-left: 93px;
}

.nav-menu .list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 30px;
  }
}

.nav-menu .page,
.contacts-menu .contact {
  color: var(--grey, #2e2f42);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-menu .contact {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
    color: var(--slatecolor);
  }

  /*
  color: var(--slatecolor);
  font-weight: 400;
  */
}

.menu,
.navigation,
.nav-menu,
.contacts-menu {
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 30px;
  }
}

.menu {
  height: 70px;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: none;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--oceancolor);
}

.page::after {
  content: "";
  border-radius: 2px;
  height: 4px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: width 250ms ease-in-out, background-color 250ms ease-in-out;
}

.page.current:after {
  content: "";
  border: 2px solid var(--oceancolor);
  border-radius: 2px;
  background-color: var(--oceancolor);
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: -1px;
}

.page:hover::after,
page:focus::after {
  border: 2px solid var(--oceancolor);
  background-color: var(--oceancolor);
  width: 100%;
}

.page {
  position: relative;
}

.partners .icon {
  fill: currentColor;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background: var(--oceancolor);
  color: var(--cloud);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-item .link:hover,
.footer-item .link:focus {
  color: var(--whitecolor);
  background: var(--oceancolor);
  border-radius: 20px;
}

.footer-item .link:hover,
.footer-item .link:focus {
  color: var(--whitecolor);
  background: var(--green);
  border-radius: 40px;
}

.footer .icon {
  width: 24px;
  height: 24px;
}

.hero {
  padding: 112px 0;
  text-align: center;

  background: linear-gradient(rgba(46, 47, 66, 0.78), rgba(46, 47, 66, 0.78)),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  background-size: cover;

  @media screen and (min-width: 768px) {
  }
}

.hero-title {
  color: white;
  line-height: 1.36;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-bottom: 30px;

  font-size: 36px;

  @media screen and (min-width: 700px) {
    font-size: 56px;
  }

  @media screen and (min-width: 768px) {
    width: 1158px;
  }
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.social-team .list {
  display: flex;

  flex-wrap: wrap;

  @media screen and (min-width: 1158px) {
    flex-wrap: nowrap;
  }
}

.social-team {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.social-team {
  padding: 0 5px;
}

.bg-team {
  background-color: var(--cloud);
}

.social-team .icon-item {
  width: 40px;
  height: 40px;
}

.social-footer .footer-item {
  width: 40px;
  height: 40px;
}

.social .item {
  padding-top: 10px;
  display: flex;
}

.social-team .link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--whitecolor);
  background-color: var(--iriscolor);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team .icon {
  fill: currentColor;
  width: 16px;
  height: 16px;
}

.social-footer .link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--cloud);
  background-color: var(--iriscolor);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg .icon {
  fill: currentColor;
}
.footer-heading {
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 16px;
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 45px;
  padding-top: 20px;
}

.customers-item {
  width: calc ((100% - 100px) / 6);
  height: 90px;
}

.team .item {
  padding-bottom: 30px;
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc(98% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.12);
}

.team {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.team .item {
  margin: 0;
}

.team .name,
.team .position {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}

.team .name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-top: 30px;
  margin-bottom: 10px;
}

.team .position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.partners {
  display: flex;
  gap: 30px;
}

.partners.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
}

.partners .item {
  width: calc(100% - 20px) / 2;
  height: 90px;

  @media screen and (min-width: 768px) {
    width: calc(100% - 60px) / 3;
  }

  @media screen and (min-width: 1158px) {
    width: calc(100% - 100px) / 6;
  }
}

.partners .link {
  display: flex;
  height: 100%;
  width: 100%;
  border: 1px solid var(--lightslate);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: var(--lightslate);
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms ease-in-out;
}

.partners .link {
  width: 190px;
  height: 88px;
}

.partners .link:hover,
.partners .link:focus {
  border-color: var(--oceancolor);
  color: var(--oceancolor);
  cursor: pointer;
}

.partners .list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  @media screen and (min-width: 1158px) {
    flex-wrap: nowrap;
  }
}

.substrate {
  background-color: var(--whitecolor);
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  position: relative;
  overflow: hidden;
}

.button {
  cursor: pointer;
  border-color: transparent;
  letter-spacing: 0.05em;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
}

.button.primary {
  padding: 10px 32px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--whitecolor);
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out,
    box-shadow 250ms ease-in-out;
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--oceancolor);
  color: var(--whitecolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--oceancolor);
  color: var(--whitecolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.filter {
  padding: 6px 22px;
  background: var(--cloud);
  font-weight: 500;
  line-height: 1.62;
  color: var(--iriscolor);
  background: var(--cloud, #f4f4fd);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  /*display: flex;
  justify-content: center;
  margin-bottom: 50px;*/
}

.filters .list {
  display: flex;

  @media screen and (min-width: 1158px) {
    flex-wrap: nowrap;
  }
}

.filter .list {
  display: flexs;
  width: 100%;
  max-width: 100%;
  height: auto;
  gap: 20px;
}

.filters .space + .space {
  margin-left: 8px;
}

.project .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--navyblue);
  margin-bottom: 4px;
}

.project .type {
  color: var(--slatecolor);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
}

.project-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1158px) {
    flex-wrap: nowrap;
  }
}

.project-card {
  /*flex-basis: calc(100% / 3 - 30px);*/
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms ease-in-out;
}

.project-card {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.substrate-cover-text {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  color: var(--cloud, #f4f4fd);
  background: var(--iris, #4d5ae5);
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}

.description {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.project:hover .substrate-cover-text,
.project:focus .substrate {
  transform: translateY(0);
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  gap: 72px;
}

.benefits .item {
  flex-basis: calc(100px / 4 + 30px);
}

.benefits .item {
  margin: 0;
}

.benefits .icon {
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
}

.benefits .icon {
  display: none;
}

.benefits {
  display: flex;
  flex-direction: column;
}

.benefits-svg-icon {
  width: 64px;
  height: 64px;
}

.what-we-do {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  @media screen and (min-width: 1158px) {
    flex-wrap: nowrap;
  }
}

.title {
  margin-bottom: 8px;
}

.what-we-do .item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc(100% - 30px) / 2;
  }

  @media screen and (min-width: 1158px) {
    width: calc(100% - 40px) / 4;
  }
}

.benefits .title {
  color: var(--grey, #2e2f42);
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 1.14;
  text-align: center;
}

.benefits .description {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
}

.section-title {
  margin-bottom: 72px;
  color: var(--grey, #2e2f42);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
}

/*2*/
.section {
  padding-top: 94px;

  @media screen and (min-width: 1158px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section-customers-icon {
  fill: inherit;
}

.page-footer {
  padding: 60px 0 60px 60px;
  margin: 0 auto;
  background: var(--grey);
}

.page-footer {
  padding: 96px 0;
}

/*.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}*/

.footer {
  display: flex;
  flex-wrap: wrap;

  align-items: baseline;

  @media screen and (min-width: 1158px) {
    margin-top: -12px;
    margin-left: -50px;
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-address {
  margin-top: 12px;

  @media screen and (min-width: 1158px) {
    margin-left: 25px;
  }
}

.footer-address {
  margin: 0;
  margin-bottom: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-block {
  @media screen and (min-width: 1158px) {
    margin-left: 123px;
  }
}

.footer-block {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

.social-footer {
  padding-top: 16px;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.icon-item {
  width: 40px;
  height: 40px;
  margin: 0;
}

.icon-item .link:hover,
.icon-item .link:focus {
  color: var(--whitecolor);
  background: var(--oceancolor);
  border-radius: 20px;
}

.footer-description {
  color: var(--cloud, #f4f4fd);
  text-align: left;
  line-height: 1.5;
  padding-top: 16px;
}

.studio-footer {
  color: var(--cloud, #f4f4fd);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  min-width: 408px;
  /*min-height: 584px;*/
  height: 100vh;
  border-radius: 4px;
  background-color: var(--dairy, #fcfcfc);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 428px) {
    height: auto;
  }
}

.backdrop.is-hidden .data-modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  color: var(--navybluecolor);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  transition: color 250ms cubic-bezier(0.4, 0, 2, 1);
}

.modal-close-icon {
  fill: currentColor;
}

.modal-close:hover,
.modal-close:focus {
  color: var(--whitecolor);
  background-color: var(--oceancolor);
  border: 1px solid var(--oceancolor);
}

.backdrop.is-hidden {
  display: none;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
}

.footer {
  @media screen and (min-width: 1158px) {
    margin-top: 12px;
    margin-left: 25px;
  }
}

.footer-container form {
  display: block;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 1158px) {
    margin: 0;
    margin-bottom: -50px;
  }
}

.footer-button {
  text-align: center;
}

.footer-label {
  display: block;
  flex-direction: column;
  margin-bottom: 16px;
  color: var(--white, #fff);
  font-weight: 500;

  @media screen and (min-width: 1158px) {
    margin-bottom: -40px;
    margin-left: -125px;
  }
}

.footer-label .subscribe {
  @media screen and (min-width: 1158px) {
    margin-right: 20px;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.footer-form {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  @media screen and (min-width: 1158px) {
    width: 453px;
    margin-left: 80px;
  }
}

.footer-input {
  color: var(--white, #fff);
  outline: none;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  display: flex;
  margin-top: 16px;
  font-size: 14px;
  flex-shrink: 0;
  background: var(--navyblue, #2e2f42);
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: 768px) {
    width: 264px;
  }
}

.footer-input::placeholder {
  color: var(--white, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.footer-button {
  height: 40px;
  width: 165px;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  /*margin-left: 24px;*/
  border: none;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  color: var(--white, #fff);
  background: var(--iris, #4d5ae5);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  /*margin-bottom: -70px;
  margin: 0;*/
}

/*.footer-button {
  padding: 6px;
  margin-left: -35px;
}*/

.footer-form-subscribe {
  width: 24px;
  height: 24px;
}

.form-header {
  /* padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px; */
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-weight: 500;
  margin-bottom: 34px;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: 360px;
  height: 336px; */
  border-radius: 4px;
  /* margin-left: 24px;
  margin-right: 24px; */
}
.form-button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.form-button {
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  /* margin-bottom: 24px; */
  font-weight: 500;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus {
  background-color: var(--oceancolor);
}

.form-input {
  display: block;
  outline: none;
  width: 360px;
  height: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 38px;
  flex-shrink: 0;
  font-size: 14px;
  fill: currentColor;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus,
.form-input:hover,
.form-textarea:hover,
.form-textarea:focus {
  border: 1px solid var(--iris, #4d5ae5);
}

.form-input:focus + .form-input-icon,
.form-input:hover + .form-input-icon {
  fill: var(--iriscolor);
}
.form-textarea {
  outline: none;
  width: 360px;
  height: 120px;
  flex-shrink: 0;
  padding-top: 8px;
  padding-left: 16px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  resize: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}
.checkbox {
  appearance: none;
  position: absolute;
}
.checkbox-icon {
  display: inline-block;
  border-radius: 2px;
  fill: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
  background-color: var(--iriscolor);
  fill: var(--whitecolor);
}
.check-box {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  cursor: pointer;
}

.checkbox:checked .checkbox-icon {
  background-size: contain;
  font: var(--white);
  fill: var(--white);
  border-radius: 2px;
  border: 1px solid var(--iris, rgba(46, 47, 66, 0.4));
  background-color: var(--iris);
  cursor: pointer;
}

.form-label {
  position: relative;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--lightslate, #8e8f99);
}
.form-label-textarea {
  position: relative;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--lightslate, #8e8f99);
}
.form-label-text {
  position: absolute;
  top: -20px;
  padding-left: 15px;
}
.form-input-icon {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 16px;
  width: 18px;
  height: 24px;
  fill: var(--navyblue, #2e2f42);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-box {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 16px;
  gap: 8px;
  margin-bottom: 24px;
  padding-left: 15px;
  padding-left: 15px;
}

.form-box_text {
  flex-shrink: 0;
  color: var(--lightslate, #8e8f99);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}

.form-box_link {
  text-align: center;
  color: var(--iris, #4d5ae5);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
  transition-property: color, text-decoration-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-box_link:hover,
.form-box_link:focus {
  color: var(--ocean);
  text-decoration-color: rgba(0, 0, 255, 0);
}

.form-agree-box {
  margin-bottom: 24px;
}

.modal {
  width: 100%;
}

.modal-form {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  padding-left: 24px;
  padding-right: 24px;

  @media screen and (min-width: 728px) {
    display: none;
  }
}

.modal-form-label {
  display: block;
  position: relative;
  margin-top: 4px;
  color: var(--lightslate, #8e8f99);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}

.modal-label-text {
  display: block;
  margin-bottom: 4px;
}

.modal-form-input {
  display: block;
  padding: 8px;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  outline: none;
}

/* Hamburger Menu Open */
.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  color: var(--primary-white-color);

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-icon {
  fill: currentColor;
}

/* Hamburger Menu Navigations and Close Icon */
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background: var(--white, #fff);
  z-index: 200;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

/* Mobile Navigation */

.mob-menu-list {
  margin-top: -100px;
}

.mob-menu-item {
  margin-bottom: 32px;
}

.mob-menu-link {
  display: block;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--navybluecolor);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:hover,
.mob-menu-link:focus,
.mob-menu-link.current {
  color: var(--ocean, #404bbf);
}

.mob-address {
  /* address doesn't inherit font style */
  font-style: normal;
  margin-bottom: 32px;
}

.mob-address {
  color: var(--iriscolor);
}

.mob-address-link {
  /* Link tags doesn't inherit colors */

  color: var(--navybluecolor);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address-link:hover,
.mob-address-link:focus {
  color: var(--iriscolor);
}

.mob-address {
  /* address doesn't inherit font style */
  font-style: normal;
  margin-bottom: 32px;
}

.mob-address-link {
  /* Link tags doesn't inherit colors */
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Mobile Socials */
.mob-social-list {
  display: flex;
  justify-content: space-between;
}

.mob-social-item {
  width: 40px;
  height: 40px;
}

.mob-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--whitecolor);
  fill: var(--iriscolor);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-social-link:hover,
.mob-social-link:focus {
  fill: var(--iriscolor);
}

.mob-social-icon {
  fill: currentColor;
}
